<div class="custom-box">
    <h1>Home Page</h1>
</div>

<div class="form-container mt-3">
    <div class="button-group">
        <button routerLink="/survey" routerLinkActive="active" class="btn">Survey Form</button>
        <button routerLink="/surveys" routerLinkActive="active" class="btn">List of All Surveys</button>
    </div>    
</div>

<footer>
    <div class="footer">
        &copy; 2024 GMU Computer Science Department
    </div>
</footer>

<!-- <div class="container mt-5">
    <h1>Welcome to Student Survey System</h1>
    <div class="row mt-4">
      <div class="col-md-6">
        <button routerLink="/survey" class="btn btn-primary btn-lg btn-block">
          Student Survey
        </button>
      </div>
      <div class="col-md-6">
        <button routerLink="/surveys" class="btn btn-secondary btn-lg btn-block">
          List All Surveys
        </button>
      </div>
    </div>
</div> -->